<div class="container-fluid">
    <div class="row  shadow-lg justify-content-between">
        <div class="col-6 d-flex  align-items-center ">
            <h2 class="text-white p-2  m-0">NOXE</h2>
            <ul class="unordred-list d-flex  m-0">
                <li class=" p-2" *ngIf="isLogin">
                    <a class="text-decoration-none text-white fw-bold fs-5" routerLink="/home">Home</a>
                </li>
                <li class=" p-2" *ngIf="isLogin">
                    <a class="text-decoration-none text-white fw-bold fs-5">Movies</a>
                </li>
                <li class=" p-2" *ngIf="isLogin">
                    <a class="text-decoration-none text-white fw-bold fs-5">Tv Show</a>
                </li>
                <li class=" p-2" *ngIf="isLogin">
                    <a class="text-decoration-none text-white fw-bold fs-5">Pepole</a>
                </li>
                <li class=" p-2" *ngIf="isLogin">
                    <a class="text-decoration-none text-white fw-bold fs-5">About</a>
                </li>
                <li class=" p-2" *ngIf="isLogin">
                    <a class="text-decoration-none text-white fw-bold fs-5">Networks</a>
                </li>
            </ul>
        </div>

        <div class="col-5 d-flex align-items-center ">
            <input type="text" placeholder="Search" class="text-white rounded-2 w-75  border-0 px-1 py-2">
            <ul class="unordred-list d-flex align-items-center m-0">
                <li >
                    <a class="fab fa-facebook text-white fs-5 p-2"></a>
                </li>
                <li>
                    <a class="fab fa-instagram text-white fs-5 p-2"></a>
                </li>
                <li>
                    <a class="fab fa-youtube text-white fs-5 p-2"></a>
                </li>
                <li>
                    <a class="fab fa-twitter text-white fs-5 p-2"></a>
                </li>
            </ul>
            <ul class="unordred-list d-flex align-items-center m-0 ms-2">
                <li class="px-2" *ngIf="!isLogin">
                    <a class="text-decoration-none text-white  fs-5" routerLink="/register">Register</a>
                </li >
                <li class="px-2" *ngIf="!isLogin">
                    <a class="text-decoration-none text-white  fs-5" routerLink="/login">Login</a> 
                </li>
                <li class="px-2" *ngIf="isLogin">
                    <a class="text-decoration-none text-white  fs-5" (click)="Logout()">Logout</a>
                </li>
             
            </ul>
        </div>
    </div>
</div>