<div class="container mt-4">


    <form [formGroup]="registerForm" (ngSubmit)="register(registerForm)">
        <div class="w-75 m-auto ">
            
            <app-error-message  [Message] = "resultMessage" [alert]="alert_class" ></app-error-message>
            <h3 class="text-white pt-4 mb-3">Register Form</h3>
            <div class="mb-3">
                <label for="first-name" class="text-white fs-6 fw-bold">
                    First Name:
                </label>
                <input type="text" class="form-control p-1 text-muted fs-4" id="first-name"
                formControlName="first_name">

                <app-error-message [Message]="'Required'" [alert]="'alert-danger'" [hidden]="!validation('first_name' ,'required' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Start with Capital letter'" [alert]="'alert-danger'" [hidden]="!validation('first_name' ,'pattern' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Enter at least 3 characters'" [alert]="'alert-danger'" [hidden]="!validation('first_name' ,'minlength' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'at most 8 characters'" [alert]="'alert-danger'" [hidden]="!validation('first_name' ,'maxlength' ,registerForm)"></app-error-message>
           
            </div>
            
            <div class="mb-3">
                <label for="second-name" class="text-white fs-6 fw-bold">
                    Second Name:
                </label>
                <input type="text" class="form-control p-1 text-muted fs-4" id="second-name"
                formControlName="last_name">

                <app-error-message [Message]="'Required'" [alert]="'alert-danger'" [hidden]="!validation('last_name' ,'required' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Start with Capital letter'" [alert]="'alert-danger'" [hidden]="!validation('last_name' ,'pattern' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Enter at least 3 characters'" [alert]="'alert-danger'" [hidden]="!validation('last_name' ,'minlength' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'at most 8 characters'" [alert]="'alert-danger'" [hidden]="!validation('last_name' ,'maxlength' ,registerForm)"></app-error-message>
            </div>
    
            <div class="mb-3">
                <label for="age" class="text-white fs-6 fw-bold">
                    Age:
                </label>
                <input type="text" class="form-control p-1 text-muted fs-4" id="age"
                formControlName="age">

                <app-error-message [Message]="'Required'" [alert]="'alert-danger'" [hidden]="!validation('age' ,'required' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Start with Capital letter'" [alert]="'alert-danger'" [hidden]="!validation('age' ,'pattern' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Don\'t allow for under 15 years'" [alert]="'alert-danger'" [hidden]="!validation('age' ,'min' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Don\'t allow for up 80 years'" [alert]="'alert-danger'" [hidden]="!validation('age' ,'max' ,registerForm)"></app-error-message>
            </div>
    
            <div class="mb-3">
                <label for="email" class="text-white fs-6 fw-bold">
                    Email:
                </label>
                <input type="email" class="form-control p-1 text-muted fs-4" id="email"
                formControlName="email">

                <app-error-message [Message]="'Required'" [alert]="'alert-danger'" [hidden]="!validation('email' ,'required' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Ivalid Email'" [alert]="'alert-danger'" [hidden]="!validation('email' ,'email' ,registerForm)"></app-error-message>
                
            </div>
    
            <div class="mb-3">
                <label for="password" class="text-white fs-6 fw-bold">
                    Password:
                </label>
                <input type="password" class="form-control p-1 text-muted fs-4" id="password"
                formControlName="password">

                <app-error-message [Message]="'Required'" [alert]="'alert-danger'" [hidden]="!validation('password' ,'required' ,registerForm)"></app-error-message>
                <app-error-message [Message]="'Password must consist from Capital and small letters and digits at least 6 length'" [alert]="'alert-danger'" [hidden]="!validation('password' ,'pattern' ,registerForm)"></app-error-message>

            </div>
            <div>
                <button class="btn bg-primary w-50" [disabled]="registerForm.invalid">Register</button>
            </div>
        </div>
     
    </form>
</div>
